{% extends 'base.html.twig' %}

{% block title %}Gestion des allergènes
{% endblock %}

{% block body %}

	<div class="container my-4">

		<h1 class="text-center">Gestion des allergènes</h1>

		<!-- Formulaire -->
		{% include "allergen/card--form.html.twig" %}

		<!-- Tableau -->
		{% include "allergen/card--list.html.twig" %}

	</div>

{% endblock %}
